@model WebApplication2.Models.Employee


@{
    ViewData["Title"] = "Create";
}


<form method="post" asp-action="Create">
    <div class="border p-3 mt-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group row">
            <h2 class="text-black-50 text-center pl-3">Dodaj nowego pracownika</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="LastName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Login"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Password"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                    <div class="col-3">
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>

                    </div>
                    <div class="col-3">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6 text-center">
                        <input type="submit" class="btn btn-primary" value="Dodaj pracownika" />
                    </div>
                    <div class="col-6 text-center">
                        <input class="btn btn-success" asp-controller="Employee" asp-action="Index" value="Powrót" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




