@model WebApplication2.Models.Product


@{
    ViewData["Title"] = "Delete";
}


<form method="post" asp-action="DeletePost">
    <div class="border p-3 mt-5">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group row">
            <h2 class="text-black-50 text-center pl-3">Usuń produkt</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="ProductName"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="ProductPrice"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="ProductName" disabled class="form-control" />
                    </div>
                    <div class="col-6">
                        <input asp-for="ProductPrice" disabled class="form-control" />

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6 text-center">
                        <input type="submit" class="btn btn-danger" value="Usuń" />
                    </div>
                    <div class="col-6 text-center">
                        <input class="btn btn-success" asp-controller="Product" asp-action="Index" value="Powrót" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

