
@{
    ViewData["Title"] = "Admin";
}

<div class="container">
    <h2 class="my-5 text-center">Witaj, jesteś zalogowany jako administrator.</h2>
    <div class="">
        <a class="rounded fs-3 py-3 px-3 btn btn-secondary d-block my-3" asp-controller="Product" asp-action="Index">Zarządzaj bazą produktów</a>
        <a class="rounded fs-3 py-3 px-3 btn btn-secondary d-block my-3" asp-controller="Bon" asp-action="Index">Zarządzaj bazą bonów</a>
        <a class="rounded fs-3 py-3 px-3 btn btn-secondary d-block my-3" asp-controller="Cashiers" asp-action="Index">Zarządzaj bazą pracowników</a>
        <a class="rounded fs-3 py-3 px-3 btn btn-secondary d-block my-3" asp-controller="Transactions" asp-action="Index">Zarządzaj bazą historii transakcji</a>
    </div>

</div>



