@{
    ViewData["Title"] = "Logowanie udane";
}


            @if (User.IsInRole(WebApplication2.Role.Role.Admin))
            {
                <div class="container">
                    <h2 class="my-5 text-center">Logowanie udane.</h2>
                    <div class="">
                        <a class="rounded fs-3 py-3 px-3 btn btn-secondary d-block my-3" asp-controller="Home" asp-action="Admin">Przejdź do panelu administratora.</a>
                    </div>

                </div>
            }
            else
            {
                <div class="container">
                    <h2 class="my-5 text-center">Logowanie udane.</h2>
                    <div class="">
                        <a class="rounded fs-3 py-3 px-3 btn btn-secondary d-block my-3" asp-controller="CustomerService" asp-action="">Przejdź do panelu kasjera.</a>
                    </div>

                </div>
            }