@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="row">

            <div class="col-6 rounded border border-dark me-3 text-dark text-center">
                <a asp-controller="Home" asp-action="Admin">Panel Administratora</a>
            </div>
            <div class="col-6 rounded border border-dark ms-3 text-dark text-center">
                <a asp-controller="CustomerService" asp-action="Index">Panel Kasjera</a>
            </div>
        </div>
    </div>
</div>