@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="row">

            @if (User.IsInRole(WebApplication2.Role.Role.Admin))
            {
                <div class="col">
                    <a asp-controller="Home" asp-action="Admin">Panel Administratora</a>
                </div>
            }
            else
            {
                <div class="col">
                    <a asp-controller="CustomerService" asp-action="Index">Panel Kasjera</a>
                </div>
            }
        </div>
    </div>
</div>